* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid greenyellow; */
}



body,
html {
  width: 100%;
  font-size: 16px;
  background-color: #181a1b;
  color: #fffff0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* История */
.container__history-color {
  width: 10%;
  height: 100%;
  border-right: 1px solid rgb(113, 113, 113);
  overflow: auto;
}


.container__history-color::-webkit-scrollbar {
  width: 5px;
}

.container__history-color::-webkit-scrollbar-track {
  background-color: rgb(113, 113, 113);
}

.container__history-color::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 10px; 
}

.container__history-color::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}

.container__history-color__color-item {
  width: 100%;
  height: 80px;
  border-bottom: 3px solid rgb(113, 113, 113);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.5s ease, opacity 0.5s ease, transform 0.1s ease;
  opacity: 0;
}

.container__history-color__color-item--sucess {
  transform: scale(0.95);
  position: relative;
}

.container__history-color__color-item--sucess::after {
  content: "✓ Скопировано";
  position: absolute;
  top: 60%;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(5px);
  transition: transform 0.3s ease;
}

.container__history-color__color-item--opacity {
  opacity: 1;
}

/* Часть экрана генерация цветов */

.container__color-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3rem 0;
}

.container__color-generator__display {
  width: 30%;
  height: 50px;
  border: 1px solid rgb(113, 113, 113);
  transition: background-color 0.5s ease;
}

/* Текст цвета */
.container__color-generator__title-color {
  margin: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 6px 10px;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 8px;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  transition: border-color 0.3s ease, opacity 1s ease, transform 0.3s ease;
  position: relative;
}

.container__color-generator__title-color--copy {
  transform: scale(1.1);
}

.container__color-generator__title-color--copy::after {
  content: "✓ Скопировано";
  position: absolute;
  top: -20px;
  padding: 4px 8px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  pointer-events: none;
  transform: translateY(5px);
  transition: transform 0.3s ease;
}

.container__color-generator__title-color:hover {
  background: #f2f2f234;
  border-color: #999999d4;
}

.container__color-generator__title-color--hidden {
  opacity: 0;
}

/* Кнопка генерации цвета */
.container__color-generator__button {
  border: 1px solid rgb(113, 113, 113);
  color: #fffff0;
  background-color: transparent;
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: border-color 0.5s ease, background-color 0.5s ease,
    transform 0.1s ease;
  cursor: pointer;
}

.container__color-generator__button:hover {
  background-color: rgba(0, 0, 0, 0.263);
}

.container__color-generator__button:active {
  background-color: rgb(216, 216, 216);
  transform: scale(1.05);
}

/* Маленькие мобильные телефоны */
@media (max-width: 374px) {
  /* Стили для маленьких экранов */
  .container__history-color {
    width: 40%;
    font-size: 15px;
  }

  .container__color-generator__display {
    width: 60%;
  }

  .container__color-generator__title-color {
    margin: 2em 0;
  }
}

/* Мобильные телефоны */
@media (min-width: 375px) and (max-width: 425px) {
  .container__history-color {
    width: 35%;
  }

  .container__color-generator__display {
    width: 60%;
  }

  .container__color-generator__title-color {
    margin: 2em 0;
  }
}

/* Планшеты */
@media (min-width: 426px) and (max-width: 768px) {
  /* Стили для планшетов в портретном режиме */
  .container__history-color {
    width: 30%;
  }

  .container__color-generator__display {
    width: 70%;
  }
}

/* Планшеты в ландшафтном режиме и меньше */
@media (min-width: 769px) and (max-width: 1024px) {
  .container__history-color {
    width: 30%;
  }

  .container__color-generator__display {
    width: 60%;
  }
}
